@use '../util' as *;

.keypad {
	border-radius: 0.625rem;
	place-content: center;
	padding: 1rem;
	grid-area: keypad;
	display: grid;
	background: var(--background-keypad);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem;
	grid-template-areas:
		'seven eight nine del'
		'four five six plus'
		'one two three minus'
		'dec zer div mul'
		'res res equal equal';
}
